.idea
.vscode

.mypy_cache
venv
*venv
.pytest_cache
__pycache__
*.pyc
*.log
*.log.*

.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/django-template.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
